@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Custom thin scrollbar styles */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Adjust width for a thin scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0; /* Background color for the scrollbar track */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c4c4c4; /* Scrollbar thumb color */
    border-radius: 9999px; /* Fully rounded scrollbar for a clean look */
    border: 2px solid #f0f0f0; /* Padding around the thumb */
  }
}

